<!DOCTYPE html>
<html lang="en">
<head>
    <title>keywords</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="Internet magazine, Интернет магазин, Nukus, Нукус магазин">
    <meta name="description" content="Интернет магазин в Нукусе">
    <meta name="author" content="Ayapbergenov Kamal, <!--Familya--> Salamat">
</head>
<body>
    
    <!--Chat-->
<script>
    window.replainSettings = { id: 'de215bcd-d5c9-41bc-9c59-75b8df4dec4a' };
    (function(u){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=u;
        var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);
    })('https://widget.replain.cc/dist/client.js');
</script>
    
</body>
</html>
